@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

html {
  direction: rtl;
}

section {
  background: url(assets/back-ground.jpg);
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  display: flex;
  align-items: center;
}

section .container {
  width: 650px;
  background: #332a224e;
  padding: 20px 25px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin-right: 15%;
  border-bottom: 1px solid #d7d7d74e;
}

section .top_sec {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #d7d7d74e;
  margin-bottom: 15px;
  align-items: center;
  flex-wrap: wrap;
}

section .top_sec .country,
section .top_sec .city {
  width: 100%;
  margin-bottom: 10px;
}

section .top_sec select {
  width: 100%;
  border-radius: 5px;
  outline: none;
  background: #a54f3a;
  padding: 5px 10px;
  color: white;
  font-size: 22px;
}

section .top_sec h3 {
  font-size: 26px;
  color: white;
}

section .top_sec .date {
  width: 100%;
  font-size: 26px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .prayer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  background: #c0583e75;
  margin-bottom: 15px;
  color: white;
  font-size: 24px;
  border-radius: 7px;
  border: 1px solid #d7d7d74e;
}

@media (max-width: 800px) {
  section .container {
    width: 450px;
    padding: 30px 25px;
    margin-right: 15%;
  }
}

@media (max-width: 576px) {
  section {
    background-position: left;
  }
  section .container {
    width: 90%;
    padding: 30px 25px;
    margin-right: 0;
    margin: auto;
    text-align: center;
  }
  section .top_sec {
    flex-direction: column;
  }

  section .top_sec .date {
    margin-top: 15px;
  }
}
